* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: linear-gradient(0deg, #0d0d12, #1a1a1f);
  padding-inline: 0.5rem;
}

.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;

  section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 0.5rem;
  }

  .header {
    /* border: 1px dashed blue; */
    height: 50px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.2rem;
      /* padding-inline: 1rem; */
    }
  }

  .aside {
    border: 1px solid rgba(0, 0, 0, 0.395);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 224px;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        color: rgb(66, 66, 255);
      }

      div {
        display: flex;
        gap: 0.5rem;

        input {
          flex: 1;
          /* accent-color: black; */
        }
      }
    }
  }

  .main {
    /* border: 1px dashed violet; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
    }

    input {
      margin-inline: auto;
    }

    textarea {
      height: 150px;
      padding: 1rem;
      resize: none;
      outline: none;
      font-size: 1rem;
    }

    button {
      width: max-content;
      margin-inline: auto;
    }
  }
}
